head{
    margin: 0px; 
    border: 0px;
}
body{
    margin: 0px; 
    border: 0px; 
    overflow: hidden;
}
.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display:table-cell;
    float:left;
}

p{
    margin: 0px;
    border: 0px;
    font-size: 25px;
}